body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}header{
   background-color: #2575fc;
    color: white;
    text-align: center;
    padding: 10px;

}
h1{
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.container{
    width: 1150px;
    margin: 30px auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 8px 18px rgba(9, 9, 9, 0.28);
    border-radius: 10px;
}

h2{
    font-family: Arial, sans-serif;
    margin-top: 0;
}

p{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
footer{
  font-family: Arial;
  font-weight: bold;
  background-color: black;
  padding-top: 20px;
  padding-bottom:20px;
  color:white;
  text-align: center;
}



